@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-size:10pt">
    <dl>
        <dt>Usa dollar:</dt>
        <dd>
            @Html.Raw(ViewData["USD"])
        </dd>
        <dt>Euro: </dt>
        <dd>
            @Html.Raw(ViewData["EUR"])
        </dd>
        <dt>Yuan: </dt>
        <dd>
            @Html.Raw(ViewData["CNY"])
        </dd>
    </dl>
</div>
