@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form action="/home/weather" method="get">
        <input type="submit" value="Weather" />
    </form>
    <form action="/home/exchangeRates" method="get">
        <input type="submit" value="ExchangeRates" />
    </form>
</div>
