@model Service.Controllers.Weather

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div style="font-size:8pt;">
    <dl>
        <dt>City: </dt>
        <dd>
            @Html.Raw(Model.city)
        </dd>
        <dt>Temperatures: </dt>
        <dd>
            @Html.Raw(Model.temperature)
        </dd>
        <dt>Pressure: </dt>
        <dd>
            @Html.Raw(Model.pressure)
        </dd>
        <dt>Relative humidity: </dt>
        <dd>
            @Html.Raw(Model.relativeHumidity)
        </dd>
    </dl>
</div>
